.menu {
  width: 80%;
  height: 100vh;
  background-color: rgb(154, 181, 240);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
}
.closeBtn {
  padding: 5px;
  background-color: transparent;
  border: none;

  margin-top: 18px;
  margin-left: auto;
  margin-right: 15px;
}
.burgtrList {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.burgtrItem {
  font-size: 24px;
}
.burgtrItemLink {
  color: var(--tg-theme-button-text-color);
  text-decoration: none;
}
