.navBox {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  outline: 1px var(--tg-theme-text-color) solid;
  background-color: var(--tg-theme-bg-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.navBar {
  position: relative;
  width: 100%;
  height: 5em;
  background: var(--tg-theme-bg-color);
  display: flex;
  justify-content: flex-start;
  padding: 1em;
}

.burgerMenu {
  margin-left: auto;
  height: 100%;
  width: 4em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
}

.burgerBar {
  width: 4em;
  height: 0.5em;
  background-color: rgb(0, 183, 255);
  border-radius: 0.5em;
  transition: all 0.5s ease;
}

.modalMenu {
  width: 80%;
  height: 100vh;
  background-color: rgb(154, 181, 240);
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.closeBtn {
  padding: 5px;
  background-color: transparent;
  border: none;

  margin-top: 20px;
  margin-left: auto;
  margin-right: 28px;
}
.logo {
  position: absolute;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  bottom: 1px;
}

.visible {
  opacity: 1;
  visibility: visible;
}

.noScroll {
  overflow: hidden;
}

.burgerBar.clicked:nth-child(1) {
  transform: rotate(45deg) translate(0.75em, 1.25em);
}

.burgerBar.clicked:nth-child(2) {
  transform: scale(0.1);
}

.burgerBar.clicked:nth-child(3) {
  transform: rotate(135deg) translate(-0.5em, 1em);
}

.burgerBar.unclicked {
  transform: rotate(0) translate(0);
}
