.navBox {
  width: 100%;
  z-index: 100;
  background-color: var(--tg-theme-bg-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.navBar {
  position: relative;
  width: 100%;
  height: 5em;
  background: var(--tg-theme-bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

.burgerMenu {
  cursor: pointer;
}

.burgerBar {
}

.modalMenu {
  width: 80%;
  height: 100vh;
  background-color: rgb(154, 181, 240);
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.closeBtn {
  padding: 5px;
  background-color: transparent;
  border: none;

  margin-top: 18px;
  margin-left: auto;
  margin-right: 15px;
}
.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  bottom: 1px;
}

.navList {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  gap: 50px;
}
.navList_item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  outline: 1px solid red;
  width: 30px;
  height: 30px;
}
.navList_item:first-child{
  flex-wrap: wrap;
}
.visible {
  opacity: 1;
  visibility: visible;
}

.noScroll {
  overflow: hidden;
}
