.form{
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 20px;
}
.input{
    width: 400px;
    padding: 10px;
    margin-top: 15px;
}
.select{
    padding: 10px;
    margin-top: 10px;

}