.dropdownContainer {
  width: 200px; /* Ширина контейнера меню */
  margin: 0 auto;
  z-index: 50;
  margin-top: 25px;
}

/* Стили для выпадающего меню */
.menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
  background-color: #f8f8f8;

  border-radius: 4px;
}
.link {
  width: 100%;
}
.menu.visible {
  max-height: 500px; /* Максимальная высота, до которой может расширяться меню */
}

.menuItem {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  color: var(--tg-theme-text-color);
}

.menuItem:last-child {
  border-bottom: none;
}
