.dropdownContainer {
  position: relative;
  display: inline-block;
  z-index: 50;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menuItem {
  display: block;
}

.menuItem a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
}

.menuItem a:hover {
  background-color: #ddd;
}

.menuItem:last-child a {
  border-bottom: none;
}
