.dropdownContainer {
  width: 200px; /* Ширина контейнера меню */
  margin: 0 auto;
  z-index: 50;
  margin-top: 15px;
}


.menu {
  max-height: 0;
  transition: max-height 0.5s ease;
  background-color: #f8f8f8;
  border-radius: 4px;
  margin-top: 10px;
  max-height: 500px;
}
.link {
  width: 100%;
}


.menuItem {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  color: var(--tg-theme-text-color);
}

.menuItem:last-child {
  border-bottom: none;
}
